.about {
    display: flex;
    padding: 60px;
    justify-content: space-between;
    background: var(--bg2);
    border-radius: 20px;
}

.about__left {
    max-width: 39%;
    flex-shrink: 0;
}

.about__right {
    flex-shrink: 0;
    max-width: 48.5%;
    margin: 0 0 0 40px;
}

.about__title {
    font-family: var(--font-family2);
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
}

.about__photo {
    width: 100%;
    border-radius: 20px;
    margin: 0 0 32px;
}

.about__name {
    margin: 0 0 10px;
}

.about__post {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--color2);
}

.about__exp {
    margin: 0 0 20px;
}

.about__exp-title {
    margin: 0 0 20px;
}

.about__exp-list {
    padding: 20px 0;
}

.about__exp-item {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    padding: 0 0 0 50px;
    position: relative;
}

.about__exp-item::before {
    content: '';
    width: 30px;
    height: 30px;
    background-size: 12px 10.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIHZpZXdCb3g9JzAgMCAxNCAxNCcgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMSA3LjQ2MTMxTDUuMTUzODUgMTIuMDc2N0wxMyAxLjkyMjg1JyBzdHJva2U9J3doaXRlJyBzdHJva2Utd2lkdGg9JzInIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcvPjwvc3ZnPgo=");
    background-color: var(--color2);
    border-radius: 4px;
    left: 0;
    top: -2px;
    position: absolute;
}

.about__exp-item:last-child {
    margin-bottom: 0;
}

.about__quote {
    padding: 40px;
    background: white;
    margin: 0;
}

.about__quote-title {
    margin: 0 0 20px;
}

.about__quote p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px;
}

.about_dark {
    background: var(--color);
    color: white !important
}

.about_dark .about__quote {
    color: var(--color) !important;
}


@media(max-width: 1025px) {
    .about {
        flex-direction: column;
        padding: 40px;
    }

    .about__right {
        margin: 40px 0 0;
    }

    .about__right,
    .about__left {
        max-width: initial;
    }

    .about__photo {
        max-width: 375px;
    }
}

@media(max-width: 767px) {
    .about {
        padding: 40px 20px;
    }

    .about__title {
        font-size: 24px;
        line-height: 32px;
    }

    .about__name {
        margin: 0;
    }

    .about__photo {
        margin: 0 0 20px;
    }

    .about__post {
        font-size: 16px;
        line-height: 24px;
    }

    .about__exp-title {
        font-size: 32px;
    }

    .about__exp-item::before {
        top: 10px;
    }

    .about__quote {
        padding: 20px;
    }
}