u {
    text-decoration: initial;
    border-bottom: 2px solid var(--color);
}

.content p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

.content ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 18px;
    line-height: 28px;
}

.content ol {
    padding-left: 20px;
    font-size: 18px;
    line-height: 28px;
}

.content li {
    margin-bottom: 10px;
}

.content li:last-child {
    margin-bottom: 0;
}

ul.disc-color li::marker {
    color: var(--color2);
}

.font-family-2 {
    font-family: var(--font-family2);
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.content_services ul {
    font-size: 24px;
    line-height: 34px;
    padding-left: 20px;
}

.content__row {
    display: grid;
    grid-template-columns: 440px 1fr;
    gap: 40px;
}

.content__project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.content__project>* {
    display: grid;
    gap: 10px;
}

.content__project a {
    max-width: max-content;
}

.content__project>*>*:last-child {
    font-size: 24px;
    line-height: 34px;
}


.content h2 {
    font-family: var(--font-family2);
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.content h3 {
    font-size: 32px;
    line-height: 42px;
    font-family: var(--font-family2);
    font-weight: 500;
    margin: 0 0 30px;
}