header {
    background: inherit;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header_hide {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.header__wrapper {
    height: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: height var(--transition-duration) ease;
    transition: height var(--transition-duration) ease;
    will-change: height;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.header_scrolled .header__wrapper {
    height: 80px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav-link {
    margin-right: 50px;
    font-family: 'Cygre';
    font-weight: 400;
    font-size: 16px;
}

.header__nav-link:last-child {
    margin-right: 0;
}

.header__contacts {
    display: flex;
    align-items: center;
}

.header__messengers {
    margin-left: 43px;
}

.header__mob {
    display: none;
}

.header__mob-btn {
    display: none;
    background: transparent;
    border: none;
    padding: 1px 6px;
}

.header__mob-phone {
    display: none;
    margin-right: 22px;
    width: 27px;
    height: 27px;
}

.header__mob-phone svg {
    fill: var(--color);
}

.header__mob-container {
    display: none;
    align-items: center;
}

.header__mob-btn {
    background-color: var(--color2);
    width: 27px;
    height: 27px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    padding: 6px 2px;
}

.header__mob-btn span {
    background-color: white;
    height: 2px;
    width: 20px;
    display: block;
    border-radius: 50px;
    transform: rotate(0);
    transition: transform 0.2s linear;
}

.header__logo svg {
    transform: translateY(-8px);
}

.header_scrolled .header__logo svg {
    width: 150px;
    transform: translateY(0);
}


.header__nav-link_contacts {
    display: none;
}


@media(max-width: 1150px) {
    .header__wrapper {
        height: 80px;
    }

    .header__menu-wrapper {
        display: none;
    }

    .header__contacts:not(.header__mob .header__contacts) {
        display: none;
    }

    .header__contacts {
        flex-direction: column;
        align-items: initial;
    }

    .header__mob-container {
        display: flex;
    }

    .header__mob-phone {
        display: initial;
    }

    .header__mob-btn {
        display: flex;
    }


    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: initial;
    }

    .header__nav-link {
        margin-right: 0;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
    }

    .header__nav-link:last-child {
        margin-bottom: 0;
    }

    .header_menu .header__logo,
    .header__mob-btn {
        z-index: 1000;
    }

    .header__mob {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        padding: 100px 20px 40px;
        display: block;
        overflow-y: auto;
        transition-property: transform, background;
        transition: 0.4s ease;
        visibility: hidden;
        transform: translateX(100%);
        pointer-events: none;
    }

    .header_menu .header__mob {
        visibility: visible;
        transform: translateX(0);
        pointer-events: initial;
    }

    .header__mob .header__messengers {
        margin-left: 0;
        justify-content: initial;
        margin-top: 15px;
    }

    .header__mob .messengers__item {
        background-color: var(--color2);
        width: 50px;
        height: 50px;
    }

    .header__mob .messengers__item svg {
        fill: white;
    }

    .header__mob .header__contacts {
        margin: 50px 0;
    }

    .header__mob .header__contacts .phone {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .header__mob-copyright {
        margin-top: 20px;
    }


    .header_menu .header__mob-btn span:nth-child(2) {
        display: none;
    }

    .header_menu .header__mob-btn span:nth-child(1) {
        transform: rotate(45deg) translateX(4px) translateY(4px);
    }

    .header_menu .header__mob-btn span:nth-child(3) {
        transform: rotate(-45deg) translateX(5px) translateY(-5px)
    }

    .header_menu .header__mob-container {
        z-index: 101;
    }
}