.messengers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messengers__item {
    width: 40px;
    height: 40px;
    background-color: #e8e8e8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    transition: all 0.2s ease;
}

.messengers__item:last-child {
    margin-right: 0;
}

.messengers__item svg {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.messengers__item:hover {
    background-color: var(--color2) !important;
}

.messengers__item:hover svg{
    fill: white;
}