.promo {
    border-radius: 20px;
    background: var(--color);
    padding: 60px;
    color: white !important;
    position: relative;
    margin-top: -80px;
}

.promo__title {
    max-width: 1045px;
    margin: 0 0 40px;
}

.promo__subtitle {
    font-size: 18px;
    line-height: 26px;
}

.promo__button {
    margin: 40px 0 0;
    height: 80px;
    width: 100%;
    max-width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__img {
    position: absolute;
    max-width: 30%;
    bottom: 60px;
    right: 80px;
}

.promo_dev .promo__subtitle {}

@media(max-width: 1150px) {
    .promo__img {
        max-width: 15%;
    }
}

@media(max-width: 992px) {
    .promo__img {
        display: none;
    }
}

@media(max-width: 768px) {
    .promo__subtitle br {
        display: none;
    }

    .promo {
        padding: 20px;
    }

    .promo__title {
        font-size: 30px;
        line-height: 42px;
    }

    .promo__subtitle {
        font-size: 16px;
        line-height: 24px;
        max-width: 284px;
    }
}