.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.service {
    background: var(--color3);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bg-2 .service {
    background: white;
}

.service__top {}

.service__bottom {
    margin-top: 20px;
}

.service__img {
    margin-bottom: 20px;
    height: 150px;
    object-fit: contain;
}

.service__name {
    font-family: var(--font-family2);
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
}

.service__description {
    font-size: 16px;
    line-height: 24px;
}

.service__button {
    margin-top: 20px;
}

.service__price {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-family2);
    margin-bottom: 5px;
}

.service__price .big {
    margin-left: 5px;
}

.service__deadline {
    margin-bottom: 30px;
}

@media(max-width: 1025px) {
    .services {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 767px) {
    .services {
        grid-template-columns: 1fr;
    }

    .service {
        padding: 20px;
    }

    .service__img {
        height: 150px;
    }
}