.spoiler {
    border-radius: 20px;

    background: var(--bg2);
    margin: 0 0 20px;
}

.spoiler:last-child {
    margin: 0;
}

.spoiler__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 29px 40px;
}

.spoiler__name {
    font-family: var(--font-family2);
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    margin-right: 20px;
}

.spoiler__btn {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.spoiler__btn::before,
.spoiler__btn::after {
    content: "";
    display: block;
    width: 26px;
    height: 2px;
    background: var(--color2);
    border-radius: 2px;
    opacity: 0.8;
}

.spoiler__btn::after {
    -webkit-transform: rotate(90deg) translateX(-2px);
    -ms-transform: rotate(90deg) translateX(-2px);
    transform: rotate(90deg) translateX(-2px);
}

.spoiler__bottom {
    padding: 0 40px;
    max-height: 0;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease, -webkit-transform 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease, transform 0.25s ease-in-out;
    transition: opacity 0.25s ease, transform 0.25s ease-in-out;
    transition: opacity 0.25s ease, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.spoiler_open .spoiler__bottom {
    max-height: initial;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    overflow: visible;
    opacity: 1;
    padding: 0 40px 29px;

}

.spoiler_open .spoiler__top {
    padding-bottom: 10px;
}

.spoiler_open .spoiler__btn {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}


.spoiler__content {
    padding: 20px 0 0;
    font-size: 16px;
    line-height: 24px;
}

@media(max-width: 992px) {
    .spoiler__top {
        padding: 14px 20px;
    }

    .spoiler__bottom {
        padding: 0 20px;
    }

    .spoiler_open .spoiler__bottom {
        padding: 0 20px 14px;
    }

    .spoiler__name {
        font-size: 18px;
        line-height: 26px;
    }

    .spoiler__content {
        padding: 15px 0 0;
        font-size: 14px;
    }

    .spoiler__btn::before,
    .spoiler__btn::after {
        width: 20px;
    }
}

@media(max-width: 767px) {}