.d-none {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.m-auto {
    margin: 0 auto;
}

.m-left-auto {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.font-weight-600 {
    font-weight: 600;
}

hr {
    background: var(--color);
    padding: 1px 0 0 0;
}

.mb-2 {
    margin-bottom: 2em;
}

.w-100 {
    width: 100% !important;
}

.mw-100 {
    max-width: 100% !important;
}

.pt-0 {
    padding-top: 0;
}

.color {
    color: var(--color2);
}

.btn {
    display: inline-block;
    padding: 16px 30px;
    text-align: center;
    border-radius: 12px;
    background: var(--color);
    color: white;
    font-weight: 700;
    transform: scale(1);
    transition: all var(--transition-duration) ease-in-out;
    cursor: pointer;
    font-size: 18px;
}

.btn_color {
    background: var(--color2);
}

.btn:hover {
    transform: scale(1.05);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bg);
    border-radius: 20px;
    border: 2px solid var(--color);
}

.scale {
    transform: scale(1);
    transition: transform var(--transition-duration) ease-in;
}

.scale:hover {
    transform: scale(1.05);
}

.bg-2 {
    background-color: var(--bg2);
}

html {
    scroll-behavior: smooth;
}

.icon-phone svg {
    fill: var(--color);
    width: 27px;
    height: 27px;
}

.big {
    font-size: 50px;
}

.currency {
    font-size: 30px;
}

.bg-gray {
    background: #F5F5F5 !important;
}

.bg-green {
    background: #C8F1CF !important;
}



@media (max-width: 767px) {
    hr {
        padding: 0;
    }

    .big {
        font-size: 40px;
    }

    .currency {
        font-size: 20px;
    }
}

@keyframes matrix-animation {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(1400%);
    }
}