html {
    --bg: #ffffff;
    --color: #131313;
    --color2: #F25A2C;
    --color3: #7E8792;
    --transition-duration: 0.25s;
    --font-family: 'Roboto';
    --scale: 0.9;
}

html.bg-2 {
    --bg: #F5F5F5;
}